albums/album.dtd

<!DOCTYPE album[

<!ELEMENT album (title, cover?, artists, songs)>
<!ATTLIST album id CDATA #REQUIRED>

<!ELEMENT title (#PCDATA)>

<!ELEMENT cover>
<!ATTLIST cover src CDATA #REQUIRED>

<!ELEMENT artists (artist+)>
<!ELEMENT artist (#PCDATA)>
<!ATTLIST artist id CDATA #REQUIRED>
<!ATTLIST artist roles CDATA #IMPLIED>

<!ELEMENT songs (song+)>
<!ELEMENT song (#PCDATA)>
<!ATTLIST song id CDATA #REQUIRED>

]>